@media only screen and (max-width: 360px) {
    #blog {
        padding: 30px 20px;
    }

    h1 {
        font-size: 22px;
    }
}

@media only screen and (min-width: 360px) {
    #blog {
        padding: 50px 30px;
    }

    h1 {
        font-size: 28px;
    }
}

@media only screen and (min-width: 768px) {
    #blog {
        padding: 50px 100px;
    }

    h1 {
        font-size: 34px;
    }
}

@media only screen and (min-width: 1080px) {
    #blog {
        padding: 50px 250px;
    }

    h1 {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1400px) {
    #blog {
        padding: 50px 500px;
    }

    h1 {
        font-size: 46px;
    }
}

#comments {
    position: fixed;
    overflow-y: auto;
    display: none;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    min-width: 450px;
    background-color: white;
    box-shadow: 0 0 15px rgba(9, 9, 12, 0.856);
    border-radius: 5px 0 0 5px;
    padding: 30px 25px;
}

#comments.open {
    transition: display 0.5s ease;
    display: block;
}

#comments p {
    line-height: inherit;
    margin-top: inherit;
}

#comment-box {
    box-shadow: 0 0 15px rgba(131, 126, 126, 0.349);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.user-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.user-info img {
    width: 30px;
    border-radius: 100%;
    margin-right: 10px;
}

.user-info p {
    margin-bottom: 0;
}

.grow-wrap {
    display: grid;
}

.grow-wrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.grow-wrap > textarea {
    resize: none;
    border: none;
    outline: none;
    overflow: hidden;
    font-size: 14px;
    color: inherit;
}

.grow-wrap > textarea, .grow-wrap::after {
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
}

#post-comment {
    background-color: #1a8917;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
}

#post-comment:disabled {
    opacity: 0.3;
    cursor: inherit;
}

.single-comment {
    margin-top: 25px;
}

#share {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#share > p {
    cursor: pointer;
    font-size: 14px;
    font-weight: bolder;
}

#share > p:hover {
    color: blue;
    text-decoration: underline;
}

code {
    color: #b44437;
    background-color: rgba(250, 239, 240, 0.78);
    padding: 3px 5px;
    border-radius: 8px;
}

p, ol, ul, .alert, label {
    font-size: 21px;
    line-height: 32px;
    font-weight: 200;
    margin-top: 1.5em;
}

ol > li {
    margin-top: 1.5em;
}

img {
    width: 600px;
    max-width: 100%;
}

.blog-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-img > p {
    font-size: 14px;
    margin-top: 0;
}

#blog a {
    text-decoration: underline;
    color: inherit;
}

.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.alert-container {
    display: flex;
    justify-content: center;
}

.alert-primary {
    color: #2b6cb0;
    border: 1px solid #4299e1;
    background-color: #ebf8ff;
}

.alert-secondary {
    color: #222731;
    border: 1px solid #cbd5e0;
    background-color: #f7fafc;
}

.alert-info {
    color: #00727c;
    border: 1px solid #4cd4ce;
    background-color: #e6fdff;
}

.alert-success {
    color: #2f855a;
    border: 1px solid #68d391;
    background-color: #f0fff4;
}

.alert-warning {
    color: #c05621;
    border: 1px solid #ed8936;
    background-color: #fffaf0;
}

.alert-danger {
    color: #c53030;
    border: 1px solid #fc8181;
    background-color: #fff5f5;
}

.alert-light {
    color: #1a202c;
    border: 1px solid #edf2f7;
    background-color: #fff;
}

.alert-dark {
    color: #d3d3d3;
    border: 1px solid #1a202c;
    background-color: #2d3748;
}

.quote {
    border-left: 5px solid black;
    padding: 10px 20px;
    background-color: rgba(239, 239, 239, 0.5);
    margin: 1em 0;
}

.quote p {
    margin-top: 0;
}

.quote span::before {
    content: '-- ';
}

.checklist {
    border-bottom: 1.5em;
    padding-left: 20px;
}
