{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/articles.css') }}" />
{% endblock %}

{% block title %}
    All articles - Our Blog
{% endblock %}

{% block content %}
    {% block navbar %}{% endblock %}

    <div id="heading">
        <h1>Your stories</h1>
        <div>
            <a class="button green" href="{{ url_for('new_story') }}">Write a story</a>
        </div>
    </div>

    <div id="articles-container">
        <div id="tab">
            <span>Drafts</span>
            <span>Published 2</span>
            <span>Responses 1</span>
        </div>
        {% for article in articles %}
            <div class="article">
                <p class="title">
                    <a class="article-anchor" href="{{ url_for('story', story_id=article.id) }}">{{ article.title }}</a>
                </p>
                <p class="description">
                    <a class="article-anchor" href="{{ url_for('story', story_id=article.id) }}">{{ article.first_paragraph }}</a>
                </p>
                <div>
                    <span class="date">Published on {{ article.created_at }} · 2 min read</span>
                    <a class="action edit" href="{{ url_for('edit_story', story_id=article.id) }}">Edit</a>
                    <a class="action delete" href="{{ url_for('edit_story', story_id=article.id) }}">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
