{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}" />
{% endblock %}

{% block title %}
    {{ article.title }} - Our Blog
{% endblock %}

{% block content %}
    {% block navbar %}{% endblock %}

    <div id="blog">
        {{ article.content | safe }}
    </div>

    {% block scripts %}
        <script src="{{ url_for('static', filename='js/article.js') }}"></script>
    {% endblock %}
{% endblock %}
