{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/articles.css') }}" />
{% endblock %}

{% block title %}
    All articles - Our Blog
{% endblock %}

{% block content %}
    {% block navbar %}
        {{ super() }}
    {% endblock %}
    
    <div id="heading">
        <h1>Your stories</h1>
        <div>
            <a class="button">Import a story</a>
            <a class="button green" href="{{ url_for('new_story') }}">Write a story</a>
        </div>
    </div>

    <div id="articles-container">
        <div id="tab">
            <span>Drafts</span>
            <span>Published 2</span>
            <span>Responses 1</span>
        </div>
        {% for article in articles %}
            <div class="article">
                <h3><a href="/story/{{ article.id }}">{{ article.title }}</a></h3>
                <p><a href="/story/{{ article.id }}">MongoDB is a popular NoSQL (not only SQL) database which has seen wide adoption in the industry because of its ease of use and efficiency.</a></p>
                <p>Published on {{ strftime(article.created_at, '%a %d, %Y') }} · 2 min read</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
