{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}" />
{% endblock %}

{% block title %}
    {{ article.title }} - Our Blog
{% endblock %}

{% block content %}
    {% block navbar %}{% endblock %}

    <div id="blog">
        {{ article.content | safe }}

        <div id="share">
            <p id="comments-open">Comments</p>
            <p id="twitter-share">Share on Twitter</p>
        </div>
    </div>

    <div id="comments">
        <p>Comments</p>
        <div id="comment-box">
            <div class="user-info">
                <img src="{{ current_user.profile_pic }}" alt="user-image">
                <p>{{ current_user.name }}</p>
            </div>
            <div class="grow-wrap">
                <textarea name="comment" id="comment" placeholder="What are your thoughts?" onInput="this.parentNode.dataset.replicatedValue = this.value"></textarea><br>
            </div>
            <button disabled="true" id="post-comment">Respond</button>
        </div>

        {% for comment in article.comments %}
            <div class="single-comment">
                <div class="user-info">
                    <img src="{{ comment.user.profile_pic }}" alt="user-image">
                    <p>{{ comment.user.name }}</p>
                </div>
                <div class="comment">{{ comment.comment }}</div>
            </div>
        {% endfor %}
    </div>

    {% block scripts %}
        <script src="{{ url_for('static', filename='js/article.js') }}"></script>
    {% endblock %}
{% endblock %}
