<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
        {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
        {% endblock %}
        <title>{% block title %}The Blog{% endblock %}</title>
        {% endblock %}
    </head>

    <body>
        {% block content %}
            {% block navbar %}
            <div id="nav">
                <nav>
                    {% include 'snippets/logo.html' %}
                    <ul>
                        <li><a href="#">Our Story</a></li>
                        <li><a href="#">Membership</a></li>
                        <li><a href="#">Write</a></li>
                        <li><a href="#">Sign In</a></li>
                        <li id="button"><a href="#">Get Started</a></li>
                    </ul>
                </nav>
            </div>
            {% endblock %}

            {% block scripts %}{% endblock %}
        {% endblock %}
    </body>
</html>
