{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
    {% block navbar %}{% endblock %}

    <div id="container">
        <div id="left">
            <img src="{{ url_for('static', filename='images/home-image.svg') }}" alt="home-img" />
        </div>
        <div id="right">
            <div id="buttons">
                {% if current_user.is_authenticated %}
                    <a class="button" href="/logout">Logout</a>
                {% else %}
                    <a class="button" href="/login">Login with Google</a>
                {% endif %}
                <a class="button" href="#posts" id="scroll">Scroll to view posts</a>
                <a class="button" href="/stories" id="scroll">See all posts</a>
            </div>
        </div>
    </div>

    <div id="bottom">
        <div id="topic">
            {% for topic in topics %}
                <span>{{ topic.title }}</span>
            {% endfor %}
        </div>
        <div id="posts">
            <div id="all-posts">
                <h1>Posts</h1>
                {% if posts|length > 0 %}
                    {% for post in posts %}
                        <a class="post-anchor" href="{{ url_for('story', story_id=post.id) }}">
                            <div class="post">
                                <p class="title">{{ post.title }}</p>
                                <p class="description">Short excerpt from the article. This should be reasonably long just to showcase how it looks for long text.</p>
                                <span class="date">{{ post.created_at }}</span>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <div id="no-posts">
                        <p>There are no articles on the platform yet. Wanna write one?</p>
                        {# implement next arg on platform #}
                        <a class="button" href="{{ current_user.is_authenticated and '/new-story' or '/login?next=new-story' }}">Write an article</a>
                    </div>
                {% endif %}
            </div>

            {% if current_user.is_authenticated %}
                <div id="my-posts">
                    <h1>My Posts</h1>
                    {% if my_posts|length > 0 %}
                        {% for post in my_posts %}
                            <a class="post-anchor" href="{{ url_for('story', story_id=post.id) }}">
                                <div class="post">
                                    <p class="title">{{ post.title }}</p>
                                    <p class="description">Short excerpt from the article. This should be reasonably long just to showcase how it looks for long text.</p>
                                    <span class="date">{{ post.created_at }}</span>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <div id="no-posts">
                            <p>You do not have any posts yet</p>
                            <a class="button" href="/new-story">Write an article</a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    {% block scripts %}
        <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>
    {% endblock %}
{% endblock %}
