{% extends 'base.html' %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/write.css') }}" />
{% endblock %}

{% block title %}
    New Story - Our Blog
{% endblock %}

{% block content %}
    {% block navbar %}{% endblock %}
    <div id="pub-bar">
        <nav id="save-bar">
            <div>
                {% include 'snippets/short-logo.html' %}
                <p>Draft in {{ current_user.name }}</p>
            </div>
            <span id="save">Save</span>
        </nav>
    </div>
    <div id="editor-container">
        <div id="editor"></div>
    </div>
    <div id="modal-container">
        <div id="modal">
            <span id="close">&times;</span>
            <h1>Modals are cool</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur dolorum ea qui velit repudiandae, 
                enim eius iusto maxime obcaecati pariatur a voluptate beatae! Similique voluptas laborum hic ipsa id odio?
            </p>
        </div>
    </div>
    {% block scripts %}
        <script>
            const articleContent = {{ article.content | tojson }};
        </script>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script>
        <script src="https://cdn.jsdelivr.net/npm/editorjs-alert@latest"></script>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@2.3.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code"></script>
        <script src="https://cdn.jsdelivr.net/npm/@editorjs/underline@latest"></script>
        <script src="{{ url_for('static', filename='js/write.js') }}"></script>
    {% endblock %}
{% endblock %}
